# Backend .dockerignore
.git
.gitignore
README.md
Dockerfile*
.dockerignore
node_modules
npm-debug.log
.nyc_output
.coverage
.coverage.*
coverage
**/.DS_Store
frontend/
docs/
*.md
.env*
!.env.production